<a class="event-card col-sm-6 col-md-4" href="/dashboard/update/{{id}}">
    <section>
        <img class="card-img-top" src="{{imageSrc}}" alt="">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
        </div>
    </section>
</a>
