<div class="col-md-6 col-lg-4 mb-4">
    <div class="card overflow-hidden">
        <a href="/dashboard/update/{{id}}" class="text-decoration-none">
            <div class=" img-wrapper ">
                <img class="card-img-top" src="{{imageSrc}}" alt="Card image">
            </div>

            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Address:</li>
            </ul>
        </a>
    </div>
</div>