<a class="card col-sm-12 col-md-6 col-lg-4 mx-3 mb-3" href="/dashboard/update/{{id}}">
    <section>
        
        <div class="card-body">
            <h2 class="card-title link-underline link-underline-opacity-0 ">{{title}}</h2>
            <img class="card-img-top w-50 rounded" src="{{imageSrc}}" alt="">
        </div>
    </section>
</a>
