<a class="event-card" href=""><section class="col-sm-6 col-md-4">
        <img src="https://image-placeholder.com/images/actual-size/200x200.png" alt="">
        <div class="caption text-primary">
            <h2>Event Title</h2>
            <h3>Created by: Example User</h3>
            <h4>Description:</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto enim nam beatae alias, neque aspernatur
                tempore cum delectus placeat consectetur voluptatum magni vero quas quae modi numquam excepturi.
                Debitis, laborum!</p>
        </div>
</section></a>
