<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventageous</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">

    <div>
      {{#if loggedIn}}
      <button class="login-btn btn-info">Logout</button>
      {{else}}
      <a href="/login"><button class="login-btn btn-info">Login</button></a>
      {{/if}}
    </div>

  </nav>
  <main>
    <section id="body">
      {{{body}}}
    </section>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>