<div class="form-wrapper card">
  <header>
    <h2>Login</h2>
  </header>
  <div>
    <form class="form login-form">
      <div>
        <div>Username</div>
        <input type="text" id="username-login" />
      </div>
      <div>
        <div>Password</div>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">login</button>
      </div>
      <a href="" class="instead">Sign up instead</a>
    </form>
  </div>
</div>

<div class="form-wrapper card hide">
  <header>
    <h2>Sign up</h2>
  </header>
  <div>
    <form class="form signup-form">
      <div>
        <div>Username</div>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <div>Password:</div>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Sign up</button>
      </div>
      <a href="" class="instead">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>