<div class="container">
  <div class="form-wrapper card p-4">
    <header class="card-header">
      <h2 class="card-title" id="login-header" data-returnto="{{returnTo}}">Login</h2>
    </header>
    <div class="card-body">
      <form class="form login-form">
        <div class="form-group">
          <label class="lead" for="username-login">Username</label>
          <input type="text" class="form-control" id="username-login" required />
        </div>
        <div class="form-group">
          <label class="lead" for="password-login">Password</label>
          <input type="password" class="form-control mb-3" id="password-login" required />
        </div>
        <div>
          <button type="submit" class="btn btn-primary mb-3">Login</button>
        </div>
        <a href="" class="instead btn btn-success">Sign Up Instead</a>
      </form>
    </div>
  </div>

  <div class="form-wrapper card hide p-4">
    <header class="card-header">
      <h2 class="card-title">Sign up</h2>
    </header>
    <div class="card-body">
      <form class="form signup-form">
        <div class="form-group">
          <label class="lead" for="username-signup">Username</label>
          <input type="text" class="form-control" id="username-signup" required />
        </div>
        <div class="form-group">
          <label class="lead" for="password-signup">Password</label>
          <input type="password" class="form-control mb-3" id="password-signup" required />
        </div>
        <div>
          <button type="submit" class="btn btn-success mb-3">Sign up</button>
        </div>
        <a href="" class="instead btn btn-primary ">Login Instead</a>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>